.page-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $black;
}

.page-footer__wrapper {
   width: 1000px;
   margin: 40px 0 0 62px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;

  @include  mq (1200px, max) {
    width: 100%;
    margin: 40px 0 0 0;
  }

  @include  mq (800px, max) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include  mq (800px, max) {
    margin: 0;
  }
}

.footer-left {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;

  @include  mq (1200px, max) {
    margin: 0 0 0 100px;
  }

  @include  mq (900px, max) {
    margin: 0 0 0 50px;
  }

  @include  mq (800px, max) {
    align-items: center;
    margin: 0 0 0 0;
  }

  @include  mq (400px, max) {
    margin: 0 0 0 0;
  }
}

.footer-right {
  margin: 5px 25px 6px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  @include  mq (1200px, max) {
    margin: 5px 100px 6px 0;
  }

  @include  mq (900px, max) {
    margin: 5px 50px 6px 0;
  }

  @include  mq (800px, max) {
    margin: 25px 0 15px 0;
  }

  @include  mq (400px, max) {
    margin: 14px 0 15px 0;
  }
}

.footer-left__link {
  font-family: $robotoCondensedLight;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: $white;
  text-decoration: none;
  list-style: none;
  outline: 0;

  &:hover {
    color: $blaze_orange;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include  mq (400px, max) {
    width: 347px;
    text-align: center;
    border-bottom: 1px solid $dove-gray;
    font-size: 18px;
    line-height: 59px;
    letter-spacing: 1.5px;
  }
}

.footer-right__logo {
  margin: 0 10px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @include  mq (400px, max) {

    margin: 0 0 0 26px;
  }
}

.footer-right__logo-image {

  @include  mq (400px, max) {
    width: 64px;
    height: 47px;
  }
}

.footer-right__logo-text {
  margin: 10px 0 0 12px;
  font-family: $robotoCondensedLight;
  font-size: 41.63px;
  color: $white;

  @include  mq (400px, max) {
    margin: 10px 0 0 8px;
    font-size: 27px;
    letter-spacing: 2.5px;
  }
}

.footer-right__search {
  margin: 21px 2px 0 0;
  position: relative;

  input {
    width: 324px;
    height: 34px;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    font-family: $robotoCondensedLight;
    font-size: 18px;
    line-height: 21.19px;
    letter-spacing: 0.3px;
    color: $nobel;
    background-color: $wild_sand;
    border: none;
    box-shadow: none;
  }
  
  button {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 9px;
    left: 295px;
    background: url("../img/footer_search.png") center no-repeat;
    border: 1px;
    box-shadow: none;
  }

  @include  mq (400px, max) {
    display: none;
  }
}

.footer-right__social {
  margin: 29px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include  mq (400px, max) {
    display: none;
  }
}

.footer-right__social-text {
  margin: 4px 65px 0 0;
  font-family: $myriadPro-Regular;
  font-size: 18px;
  line-height: 21.19px;
  color: $nobel;
  letter-spacing: 1.2px;

}

.footer-right__social-link {
  margin: 0 5px 0 0;
  width: 44px;
  height: 26px;
  background: url("../img/footer_vk.png") center no-repeat;
}

.footer-right__payments {
  margin: 48px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @include  mq (400px, max) {
    display: none;
  }
}

.footer-right__payments-text {
  margin: 10px 22px 0 0;
  font-family: $myriadPro-Regular;
  font-size: 18px;
  line-height: 21.19px;
  letter-spacing: 1.2px;
  color: $nobel;
}

.footer-right__payments-visa {
  margin: 0 11px 0 0;
}

.footer-right__payments-master {
  margin: 0 4px 0 0;
}












