

.page-header {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: center;
  background-color: $white;

  @include  mq (1050px, max) {
    flex-direction: column;
    align-items: center;
    height: 104px;
  }

  @include  mq (650px, max) {
    flex-direction: row;
    justify-content: flex-start;
    height: 52px;
    background-color: $black;
  }
}

.header-address {
  margin: 2px 47px 0 58px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include  mq (1200px, max) {
    margin: 2px 10px 0 0;
  }

  @include  mq (1050px, max) {
    margin: 0;
  }

  @include  mq (650px, max) {
    display: none;
  }
}

.header-address__icon {
  margin: 10px 14px 0 0;
  padding-right: 9px;
}

.header-address__text {
  margin-top: 4px;
  font-family: $robotoCondensedRegular;
  font-size: 16px;
  color: $boulder;

  span {
    word-spacing: 4px;
  }
}

.header-phone {
  margin-left: 47px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include  mq (1200px, max) {
    margin: 0 0 0 10px;
  }

  @include  mq (1050px, max) {
    margin: 0;
  }

  @include  mq (650px, max) {
    width: 100%;
  }
}

.header-phone__1-link{
  margin: 0 3px 4px 0;
  font-family: $robotoCondensedRegular;
  font-size: 16px;
  color: $boulder;
  text-decoration: none;
  list-style: none;
  outline: 0;
  fill: $boulder;

  &:hover {
    fill: $blaze_orange;
    color: $blaze_orange;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include  mq (650px, max) {
    display: none;
  }
}

.header-phone__2-link {
  margin: 0 25px 4px 11px;
  font-family: $robotoCondensedRegular;
  font-size: 16px;
  color: $boulder;
  text-decoration: none;
  list-style: none;
  outline: 0;
  fill: $boulder;

  &:hover {
    fill: $blaze_orange;
    color: $blaze_orange;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include  mq (650px, max) {
    display: none;
  }
}

.header-phone__3-link {
  display: none;
  margin: 0 25px 4px 11px;
  font-family: $robotoCondensedRegular;
  font-size: 16px;
  color: $boulder;
  text-decoration: none;
  list-style: none;
  outline: 0;
  fill: $boulder;

  &:hover {
    fill: $blaze_orange;
    color: $blaze_orange;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include  mq (650px, max) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: $robotoCondensedLight;
    font-size: 27px;
    line-height: 27px;
    letter-spacing: 0.3px;
    color: $boulder;
    width: 100%;
  }

  @include  mq (400px, max) {
    justify-content: flex-start;
    margin: 0 0 13px 42px;
  }
}

.header-phone__1-link-image{
  margin: 12px 0 0 0;
}


.header-phone__2-link-image {
  margin: 12px 1px 0 2px;

  @include  mq (650px, max) {
    margin: 0 5px 0 2px;
    width: 20px;
    height: 20px;
  }
}


.header-phone__3-link-image {

  @include  mq (650px, max) {
    margin: 0 11px 0 2px;
    width: 20px;
    height: 20px;
  }
}

.header-button {
  margin: 5px 0 0 0;
  border-bottom: 1px dotted $boulder;
  font-family: $robotoCondensedRegular;
  font-size: 16px;
  line-height: 25px;
  color: $boulder;
  text-decoration: none;
  list-style: none;
  outline: 0;

  &:hover {
    color: $blaze_orange;
    transition: 0.5s all;
    border-bottom: 1px dotted $blaze_orange;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include  mq (650px, max) {
    display: none;
  }
}



.header-content__nav-item {
  width: 50px;
  height: 50px;
  margin: 0 0 0 17px;
  position: relative;
  list-style: none;
  display: none;
  justify-content: center;
  align-items: center;
  background: none;

  @include  mq (650px, max) {
    display: flex;
  }
}

.nav-list {

  &:hover .header-content__nav-submenu {
    display: flex;
    z-index: 100000;
  }
}

.header-content__nav-submenu {
  width: auto;
  height: auto;
  padding: 0 0 75px 0;
  box-sizing: border-box;
  position: absolute;
  top: 34px;
  left: -17px;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: $black;
  z-index: 100;

  @include mq(400px, max) {
    width: auto;
    height: auto;
  }
}

.header-content__nav-submenu--item {
  width: 359px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-nav__link {
  width: 347px;
  display: flex;
  justify-content: center;
  font-family: $robotoCondensedLight;
  font-size: 24px;
  line-height: 59px;
  letter-spacing: 1.5px;
  color: $white;
  text-decoration: none;
  list-style: none;
  outline: 0;

  &:hover {
    color: $blaze_orange;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include  mq (400px, max) {
    width: 250px;
    justify-content: flex-start;
    font-size: 18px;
    line-height: 26px;
  }
}


