.page-main {
  background-color: $mercury;
  overflow: hidden;
}

.main-header {
  width: 1200px;
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  margin: auto;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 1000;

  @include  mq (1050px, max) {
    top: 104px;
  }

  @include  mq (1200px, max) {
    width: 1100px;
  }

  @include  mq (1100px, max) {
    width: 1000px;
    height: 55px;
  }

  @include  mq (1000px, max) {
    width: 900px;
  }

  @include  mq (900px, max) {
    width: 800px;
    height: 65px;
  }

  @include  mq (800px, max) {
    width: 700px;
  }

  @include  mq (700px, max) {
    width: 650px;
  }

  @include  mq (650px, max) {
    width: 100%;
    height: 134px;
    justify-content: center;
    top: 52px;
  }
}

.main-header__logo {
  margin: 0 0 0 97px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include  mq (1200px, max) {
    margin: 0 0 0 30px;
  }

  @include  mq (650px, max) {
    margin: 0 4px 0 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.main-header__logo-image {

  @include  mq (1100px, max) {
    width: 58px;
    height: 43px;
  }

  @include  mq (650px, max) {
    width: 97px;
    height: auto;
  }
}

.main-header__logo-text {
  margin: 6px 0 0 14px;
  font-family: $robotoCondensedRegular;
  font-size: 25px;
  color: $white;
  letter-spacing: -0.5px;

  @include  mq (1100px, max) {
    font-size: 20px;
  }

  @include  mq (650px, max) {
    margin: 7px 0 0 5px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
  }
}

.main-header__nav {
  width: 630px;
  height: 61px;
  margin: 24px 0 0 151px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @include  mq (1200px, max) {
    margin: 24px 0 0 140px;
  }

  @include  mq (1100px, max) {
    margin: 15px 0 0 110px;
    height: 40px;
  }

  @include  mq (900px, max) {
    height: 60px;
    width: 300px;
    margin: 0 0 0 268px;
    flex-wrap: wrap;
  }

  @include  mq (800px, max) {
    margin: 0 0 0 168px;
  }

  @include  mq (700px, max) {
    margin: 0 0 0 118px;
  }

  @include  mq (650px, max) {
    display: none;
  }
}

.main-header__nav-link {
  height: 35px;
  font-family: $robotoCondensedRegular;
  border-bottom: 2px solid transparent;
  font-size: 18px;
  color: $white;
  text-decoration: none;
  list-style: none;
  outline: 0;

  &:hover {
    color: $blaze_orange;
    border-bottom: 2px solid $blaze_orange;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include  mq (1000px, max) {
    height: 28px;
    font-size: 16px;
  }
}

.nav-link--1 {
  margin: 0 12px 0 0;
}

.nav-link--2 {
  margin: 0 12px 0 12px;
}

.nav-link--3 {
  margin: 0 15px 0 12px;
}

.nav-link--4 {
  margin: 0 13px 0 17px;
}

.nav-link--5 {
  margin: 0 0 0 14px;
}

.nav-link--1,
.nav-link--2,
.nav-link--3,
.nav-link--4,
.nav-link--5 {

  @include  mq (1000px, max) {
    margin: 0 9px 0 9px;
  }
}

.main-header__search {
  margin: 2px 32px 0 0;
  width: 19px;
  height: 27px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  list-style: none;
  outline: 0;

  @include  mq (1000px, max) {
    height: 19px;
    margin: 5px 30px 0 0;
  }

  @include  mq (650px, max) {
    display: none;
  }
}

.main-header__search-image {
  fill: #ffffff;

  &:hover {
    fill: $blaze_orange;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include  mq (1000px, max) {
    width: 19px;
    height: 19px;
  }
}


                    /*  main-slider   */

.slide-1__content {
  position: absolute;
  top: 184px;
  left: 456px;
  width: 650px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include  mq (1800px, max) {
    top: 150px;
    left: 400px;
  }

  @include  mq (1700px, max) {
    top: 135px;
    left: 350px;
  }

  @include  mq (1600px, max) {
    top: 120px;
    left: 290px;
  }

  @include  mq (1500px, max) {
    top: 85px;
    left: 240px;
    height: 200px;
  }

  @include  mq (1400px, max) {
    top: 85px;
    left: 195px;
    width: 410px;
  }

  @include  mq (1300px, max) {
    left: 140px;
  }

  @include  mq (1100px, max) {
    left: 90px;
    height: 200px;
  }

  @include  mq (900px, max) {
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
  }

  @include  mq (650px, max) {
    display: none;
  }
}

.slide-1__content-title {
  font-family: $robotoCondensedBold;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  color: $white;

  @include  mq (1700px, max) {
    font-size: 35px;
    line-height: 50px;
  }

  @include  mq (1500px, max) {
    font-size: 30px;
    line-height: 45px;
  }

  @include  mq (1400px, max) {
    font-size: 25px;
    line-height: 35px;
  }

  @include  mq (1100px, max) {
    font-size: 20px;
    line-height: 25px;
  }

  @include  mq (900px, max) {
    text-align: center;
  }

  @include  mq (650px, max) {
    width: 280px;
    margin: 11px 0 50px 0;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.7px;
  }
}

.slide__button {
  width: 195px;
  height: 51px;
  margin: 0 0 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: $white;
  font-family: $robotoCondensedRegular;
  font-size: 16px;
  line-height: 26px;
  color: $black;
  text-decoration: none;
  list-style: none;
  outline: 0;

  &:hover {
    color: $white;
    background-color: $blaze_orange;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include  mq (1200px, max) {
    width: 175px;
    height: 41px;
  }
}

.slider-image--2 {

  @include  mq (650px, max) {
    display: none;
  }
}

.slide-2__content {
  position: absolute;
  top: 184px;
  left: 456px;
  width: 520px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include  mq (1800px, max) {
    top: 150px;
    left: 400px;
  }

  @include  mq (1700px, max) {
    top: 135px;
    left: 350px;
  }

  @include  mq (1600px, max) {
    top: 120px;
    left: 290px;
  }

  @include  mq (1500px, max) {
    top: 85px;
    left: 240px;
    height: 200px;
  }

  @include  mq (1400px, max) {
    top: 85px;
    left: 195px;
    width: 410px;
  }

  @include  mq (1300px, max) {
    left: 140px;
  }

  @include  mq (1100px, max) {
    left: 90px;
    height: 200px;
  }

  @include  mq (900px, max) {
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
  }

  @include  mq (650px, max) {
    display: none;
  }
}

.slide-2__content-title {
  font-family: $robotoCondensedBold;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  color: $white;

  @include  mq (1700px, max) {
    font-size: 30px;
    line-height: 50px;
  }

  @include  mq (1500px, max) {
    font-size: 30px;
    line-height: 45px;
  }

  @include  mq (1400px, max) {
    font-size: 25px;
    line-height: 35px;
  }

  @include  mq (1100px, max) {
    font-size: 20px;
    line-height: 25px;
  }

  @include  mq (900px, max) {
    width: 253px;
    text-align: center;
  }
}

.slide-3__content {
  position: absolute;
  top: 184px;
  left: 456px;
  width: 520px;
  height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include  mq (1800px, max) {
    top: 150px;
    left: 400px;
  }

  @include  mq (1700px, max) {
    width: 400px;
    top: 135px;
    left: 350px;
  }

  @include  mq (1600px, max) {
    top: 120px;
    left: 290px;
  }

  @include  mq (1500px, max) {
    top: 85px;
    left: 240px;
    height: 200px;
  }

  @include  mq (1400px, max) {
    top: 85px;
    left: 195px;
    width: 290px;
  }

  @include  mq (1300px, max) {
    left: 140px;
  }

  @include  mq (1100px, max) {
    left: 90px;
    width: 275px;
    height: 200px;
  }

  @include  mq (900px, max) {
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
  }

  @include  mq (650px, max) {
    display: none;
  }
}

.slider-image--3 {

  @include  mq (650px, max) {
    display: none;
  }
}

.slide-3__content-title {
  margin: 18px 0 20px 0;
  font-family: $robotoCondensedBold;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  color: $white;

  span {
    font-size: 50px;

    @include  mq (1700px, max) {
      font-size: 40px;
    }

    @include  mq (1400px, max) {
      font-size: 30px;
    }

    @include  mq (1100px, max) {
      font-size: 25px;
    }
  }

  @include  mq (1700px, max) {
    font-size: 30px;
    line-height: 45px;
  }

  @include  mq (1400px, max) {
    font-size: 25px;
    line-height: 35px;
  }

  @include  mq (1100px, max) {
    font-size: 20px;
    line-height: 25px;
  }

  @include  mq (900px, max) {
    text-align: center;
  }
}

.slider-image {

  @include  mq (1100px, max) {
    display: none;
  }
}



.owl-carousel.off {
  display: block;
}



.main-slider__mobile {
  width: 100%;
  height: 430px;
  background: url("../img/main_slider_1.png") no-repeat;
  background-position: 53% 91%;
  background-size: 401% auto;
  position: relative;

  @include  mq (651px, min) {
    display: none;
  }

  &:before {
    content: "\f103";
    position: absolute;
    bottom: 26px;
    left: 47%;
    margin: auto;
    font-family: FontAwesome;
    color: $white;
    font-size: 31px;
  }
}

.main-slider__mobile-content {
  width: auto;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 135px;
  margin: auto;

  @include  mq (651px, min) {
    display: none;
  }
}

.main-slider__mobile-content--title {
  width: 280px;
  margin: 11px 0 50px 2px;
  text-align: center;
  font-family: $robotoCondensedBold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $white;
}

.main-slider__mobile-content--button {
  width: 195px;
  height: 51px;
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: $white;
  font-family: $robotoCondensedRegular;
  font-size: 16px;
  line-height: 26px;
  color: $black;
  text-decoration: none;
  list-style: none;
  outline: 0;

  &:hover {
    color: $white;
    background-color: $blaze_orange;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }
}




                    /*   main-repairs   */

.main-repairs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mercury;
}

.main-repairs__nav {
  width: 1200px;
  margin: 84px 0 28px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include  mq (1200px, max) {
    width: auto;
    margin: 64px 0 28px 0;
  }

  @include  mq (550px, max) {
    width: 359px;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include  mq (550px, max) {
    margin: 24px 0 28px 0;
  }
}

.main-repairs__nav-link {
  width: 155px;
  height: 141px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: $robotoCondensedRegular;
  font-size: 20px;
  line-height: 27px;
  color: $black;
  text-decoration: none;
  list-style: none;
  outline: 0;
  letter-spacing: 1.5px;

  .main-repairs__nav-icon {
    fill: $boulder;
  }

  &:hover {
    color: $blaze_orange;
    transition: 0.5s all;

    .main-repairs__nav-icon {
      fill: $blaze_orange;
      transition: 0.5s all;
    }
  }

  &:not(:hover) {
    transition: 0.5s all;

    .main-repairs__nav-icon {
      transition: 0.5s all;
    }
  }

  @include  mq (1200px, max) {
    width: 140px;
    letter-spacing: 1px;
  }

  @include  mq (900px, max) {
    width: 115px;
    height: 130px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
  }

  @include  mq (900px, max) {
    width: 100px;
    height: 120px;
    font-size: 16px;
    line-height: 21px;
  }

  @include  mq (750px, max) {
    width: 88px;
    height: 110px;
    font-size: 14px;
    line-height: 18px;
  }

  @include  mq (400px, max) {
    width: 88px;
    height: 92px;
  }
}

.link-1 {
  margin: 0 19px 0 90px;

  @include  mq (1200px, max) {
    margin: 0 15px;
  }

  @include  mq (750px, max) {
    margin: 0 8px;
  }

  @include  mq (550px, max) {
    margin: 0 16px;
  }

  @include  mq (400px, max) {
    margin: 0 15px 0 15px;
  }
}

.link-2 {
  margin: 0 18px 0 19px;

  @include  mq (1200px, max) {
    margin: 0 15px;
  }

  @include  mq (750px, max) {
    margin: 0 8px;
  }

  @include  mq (550px, max) {
    margin: 0 16px;
  }

  @include  mq (400px, max) {
    margin: 0 16px 0 16px;
  }
}

.link-3 {
  margin: 0 19px 0 17px;

  @include  mq (1200px, max) {
    margin: 0 15px;
  }

  @include  mq (750px, max) {
    margin: 0 8px;
  }

  @include  mq (550px, max) {
    margin: 0 16px;
  }

  @include  mq (400px, max) {
    margin: 0 16px 0 16px;
  }
}

.link-4 {
  margin: 0 24px 0 28px;

  @include  mq (1200px, max) {
    margin: 0 15px;
  }

  @include  mq (750px, max) {
    margin: 0 8px;
  }

  @include  mq (550px, max) {
    margin: 0 16px;
  }

  @include  mq (400px, max) {
    margin: 0 22px 0 21px;
  }
}

.link-5 {
  margin: 0 0 0 20px;

  @include  mq (1200px, max) {
    margin: 0 15px;
  }

  @include  mq (750px, max) {
    margin: 0 8px;
  }

  @include  mq (550px, max) {
    margin: 0 16px;
  }

  @include  mq (400px, max) {
    margin: 0 16px 0 18px;
  }
}

.main-repairs__nav-icons {
  width: 70px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 31px 0;

  @include  mq (900px, max) {
    margin: 0 7px 15px 0;
  }

  @include  mq (900px, max) {
    margin: 0 0 15px 0;
  }

  @include  mq (400px, max) {
    width: auto;
    height: auto;
    margin: 0 0 17px 0;
  }
}


.main-repairs__nav-icons--3 {
  width: 70px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -5px 31px 0;

  @include  mq (900px, max) {
    margin: 0 2px 15px 0;
  }

  @include  mq (400px, max) {
    width: auto;
    height: auto;
    margin: 0 0 17px 0;
  }
}

.repairs-icon--1 {
  width: 53px;
  height: 53px;

  @include  mq (900px, max) {
    width: 43px;
    height: 43px;
  }

  @include  mq (400px, max) {
    width: 33px;
    height: 33px;
    margin: 3px 13px 3px 0;
  }
}

.repairs-icon--2 {
  width: 55px;
  height: 57px;

  @include  mq (900px, max) {
    width: 44px;
    height: 46px;
  }

  @include  mq (400px, max) {
    width: 35px;
    height: 37px;
    margin: 1px 2px 0 0;
  }
}

.repairs-icon--3 {
  width: 70px;
  height: 53px;

  @include  mq (900px, max) {
    width: 57px;
    height: 43px;
    margin: 0 0 0 0;
  }

  @include  mq (400px, max) {
    width: 43px;
    height: 35px;
    margin: 1px 11px 2px 0;
  }
}

.repairs-icon--4 {
  width: 55px;
  height: 54px;

  @include  mq (900px, max) {
    width: 45px;
    height: 44px;
  }

  @include  mq (400px, max) {
    width: 36px;
    height: 35px;
    margin: 0 0 0 12px;
  }
}

.repairs-icon--5 {
  width: 46px;
  height: 55px;

  @include  mq (900px, max) {
    width: 37px;
    height: 44px;
  }

  @include  mq (400px, max) {
    width: 28px;
    height: 34px;
    margin: 0 0 1px 20px;
  }
}


                    /*  main-description  */

.main-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $mercury;
}

.main-description__title {
  font-family: $robotoCondensedBold;
  font-size: 27px;
  line-height: 27px;
  letter-spacing: 2px;
  color: $black;
  text-transform: uppercase;

  @include  mq (1100px, max) {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 1px;
  }

  @include  mq (500px, max) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.2px;
    margin: 9px 0 0 0;
  }
}

.main-description__list {
  width: 1200px;
  margin: 44px 0 62px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  @include  mq (1200px, max) {
    width: 1100px;
    justify-content: center;
  }

  @include  mq (1100px, max) {
    width: 1000px;
  }

  @include  mq (1000px, max) {
    width: 900px;
    margin: 39px 0 57px 0;
  }

  @include  mq (900px, max) {
    width: 800px;
  }

  @include  mq (800px, max) {
    width: 400px;
    flex-wrap: wrap;
  }

  @include  mq (400px, max) {
    width: 357px;
    margin: 25px 0 34px 0;
  }
}

.main-description__list-item {
  width: 210px;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include  mq (1100px, max) {
    width: 190px;
  }

  @include  mq (1100px, max) {
    width: 170px;
  }

  @include  mq (400px, max) {
    width: 150px;
  }
}

.description-1 {
  margin: 0 47px 0 73px;
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    left: 272px;
    top: 10px;
    border-left: 2px solid $trinidad;

    display: block;
    height: 109px;
    width: 0;

    @include  mq (1200px, max) {
      left: 253px;
    }

    @include  mq (1100px, max) {
      left: 233px;
    }

    @include  mq (1000px, max) {
      left: 183px;
    }

    @include  mq (800px, max) {
      height: 95px;
      top: 19px;
    }

    @include  mq (400px, max) {
      height: 74px;
      top: 13px;
      left: 166px;
      border-left: 1px solid $trinidad;
    }
  }

  @include  mq (1200px, max) {
    margin: 0 30px 0 0;
  }

  @include  mq (1000px, max) {
    margin: 0 15px 0 0;
  }

  .description-title--1 {
    margin: 16px 0 20px 0;
    letter-spacing: 1.1px;

    @include  mq (1000px, max) {
      margin: 14px 0 18px 0;
      letter-spacing: 0;
    }

    @include  mq (400px, max) {
      margin: 14px 0 14px 5px;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 1.2px;
    }
  }

  .description-text--1 {
    letter-spacing: 1.27px;

    @include  mq (1000px, max) {
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 0.5px;
    }
  }
}

.description-2 {
  margin: 0 36px 0 32px;
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    left: -14px;
    bottom: 14px;
    border-left: 2px solid $blaze_orange;

    display: block;
    height: 109px;
    width: 0;

    @include  mq (800px, max) {
      height: 95px;
      bottom: 6px;
    }

    @include  mq (400px, max) {
      height: 74px;
      top: 7px;
      left: -12px;
      border-left: 1px solid $blaze_orange;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    top: 12px;
    left: 253px;
    border-left: 2px solid $trinidad;

    display: block;
    height: 109px;
    width: 0;

    @include  mq (1200px, max) {
      left: 245px;
    }

    @include  mq (1100px, max) {
      left: 225px;
    }

    @include  mq (1000px, max) {
      left: 175px;
    }

    @include  mq (800px, max) {
      display: none;
    }
  }

  @include  mq (1200px, max) {
    margin: 0 30px 0 30px;
  }

  @include  mq (1000px, max) {
    margin: 0 15px 0 15px;
  }

  @include  mq (800px, max) {
    margin: 0 0 0 15px;
  }

  .description-title--2 {
    margin: 14px 0 17px 0;
    line-height: 30px;

    @include  mq (1000px, max) {
      margin: 14px 0 18px 0;
    }

    @include  mq (800px, max) {
      margin: 11px 0 16px 0;
    }

    @include  mq (400px, max) {
      font-size: 13px;
      line-height: 20px;
      margin: 14px 0 13px 6px;
      letter-spacing: 1.2px;
    }
  }

  .description-text--2 {
    padding-left: 14px;
    letter-spacing: 1.27px;

    @include  mq (1100px, max) {
      padding: 0;
    }

    @include  mq (1000px, max) {
      letter-spacing: 0;
    }

    @include  mq (400px, max) {
      font-size: 13px;
      line-height: 14px;
      letter-spacing: 0.5px;
      margin: 0 0 0 5px;
    }
  }
}

.description-3 {
  margin: 0 24px 0 32px;
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    left: -22px;
    bottom: 15px;
    border-left: 2px solid $blaze_orange;

    display: block;
    height: 109px;
    width: 0;

    @include  mq (800px, max) {
      display: none;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    top: 12px;
    left: 237px;
    border-left: 2px solid $trinidad;

    display: block;
    height: 109px;
    width: 0;

    @include  mq (1200px, max) {
      left: 239px;
    }

    @include  mq (1100px, max) {
      left: 219px;
    }

    @include  mq (1000px, max) {
      left: 169px;
    }

    @include  mq (800px, max) {
      height: 95px;
      top: 19px;
      left: 183px;
    }

    @include  mq (400px, max) {
      height: 73px;
      top: 20px;
      left: 167px;
      border-left: 1px solid $trinidad;
    }
  }

  @include  mq (1200px, max) {
    margin: 0 30px 0 30px;
  }

  @include  mq (1000px, max) {
    margin: 0 15px 0 15px;
  }

  @include  mq (800px, max) {
    margin: 30px 15px 0 0;
  }

  @include  mq (400px, max) {
    margin: 37px 15px 0 0;
    box-sizing: border-box;
    padding: 0 8px;
  }

  .description-title--3 {
    margin: 18px 0 21px 0;

    @include  mq (1000px, max) {
      margin: 14px 0 18px 0;
    }

    @include  mq (400px, max) {
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 1.1px;
      margin: 14px 0 6px 3px;
    }
  }

  .description-text--3 {
    padding-left: 27px;

    @include  mq (1100px, max) {
      padding: 0;
    }

    @include  mq (400px, max) {
      font-size: 13px;
      line-height: 14px;
      margin: 2px 0 0 18px;
      letter-spacing: 0.5px;
    }
  }
}

.description-4 {
  margin: 0 0 0 34px;
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    left: -28px;
    bottom: 14px;
    border-left: 2px solid $blaze_orange;

    display: block;
    height: 109px;
    width: 0;

    @include  mq (800px, max) {
      height: 95px;
      left: -14px;
      bottom: 6px;
    }

    @include  mq (400px, max) {
      height: 73px;
      top: 14px;
      left: -14px;;
      border-left: 1px solid $blaze_orange;
    }
  }

  @include  mq (1200px, max) {
    margin: 0 0 0 30px;
  }

  @include  mq (1000px, max) {
    margin: 0 0 0 15px;
  }

  @include  mq (800px, max) {
    margin: 30px 0 0 15px;
  }

  @include  mq (400px, max) {
    margin: 37px 0 0 18px;
  }

  .description-title--4 {
    margin: 20px 9px 16px 0;
    letter-spacing: 1.1px;

    @include  mq (1000px, max) {
      letter-spacing: 0;
      margin: 14px 0 18px 0;
    }

    @include  mq (400px, max) {
      margin: 14px 0 7px 16px;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 1.2px;
    }
  }

  .description-text--4 {
    letter-spacing: 1.25px;

    @include  mq (1000px, max) {
      letter-spacing: 0;
    }

    @include  mq (400px, max) {
      font-size: 12px;
      line-height: 14px;
      margin: 0 0 0 8px;
      letter-spacing: 0.9px;
    }
  }
}

.main-description__list-item--title {
  margin: 20px 0 13px 0;
  font-family: $robotoCondensedRegular;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 1px;
  color: $black;

  @include  mq (1100px, max) {
    font-size: 18px;
    line-height: 25px;
  }
}

.main-description__list-item--text {
  text-align: center;
  font-family: $robotoCondensedRegular;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1.2px;
  color: $boulder;

  @include  mq (1100px, max) {
    font-size: 16px;
    line-height: 19px;
  }

  @include  mq (1000px, max) {
    letter-spacing: 0;
  }
}


                      /*  main-range  */

.main-range {
  display: flex;
  justify-content: center;
  background-color: $white;
}

.main-range__wrapper {
  width: 1200px;
  margin: 37px 0 47px 0;
  display: flex;
  justify-content: space-between;

  @include  mq (1200px, max) {
    width: 1100px;
    justify-content: center;
  }

  @include  mq (1100px, max) {
    width: 1000px;
    justify-content: center;
  }

  @include  mq (1000px, max) {
    width: 330px;
    margin-left: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  @include  mq (400px, max) {
    margin: 34px 0 28px 40px;
  }
}

.main-range__item-1 {
  width: 330px;
  margin: 0 0 0 127px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 15px;

  @include  mq (1200px, max) {
    margin: 0 0 0 0;
  }

  @include  mq (1100px, max) {
    width: 295px;
  }

  @include  mq (1000px, max) {
    width: 330px;
  }

  @include  mq (500px, max) {
    width: 273px;
  }

  @include  mq (400px, max) {
    width: 228px;
    margin: 0 0 0 25px;
  }
}

.main-range__item-2 {
  width: 250px;
  margin: 0 77px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include  mq (1200px, max) {
    margin: 0 70px 0 47px;
  }

  @include  mq (1100px, max) {
    width: 235px;
    margin: 0 47px 0 47px;
  }

  @include  mq (1000px, max) {
    width: 330px;
    margin: 23px 0 23px 0;
  }

  @include  mq (500px, max) {
    width: 273px;
  }

  @include  mq (400px, max) {
    width: 183px;
    margin: 0 25px 0 0;
  }
}

.main-range__item-3 {
  width: 250px;
  margin: 0 43px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include  mq (1200px, max) {
    margin: 0 0 0 0;
  }

  @include  mq (1000px, max) {
    width: 330px;
  }

  @include  mq (500px, max) {
    width: 273px;
  }

  @include  mq (400px, max) {
    width: 185px;
    margin: 2px 24px 0 0;
  }
}

.main-range__item-text {
  font-family: $robotoCondensedRegular;
  font-size: 15px;
  color: $boulder;

  &:before {
    content: "\f054";
    position: absolute;
    top: 1px;
    left: -30px;
    font-family: FontAwesome;
    color: $blaze_orange;
    font-size: 19px;

    @include  mq (400px, max) {
      left: -20px;
      font-size: 13px;
    }
  }

  @include  mq (1100px, max) {
    font-size: 14px;
  }

  @include  mq (1000px, max) {
    font-size: 15px;
  }

  @include  mq (500px, max) {
    font-size: 13px;
  }

  @include  mq (400px, max) {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.7px;
  }
}

.text-1 {
  margin: 0 0 23px 0;
  position: relative;

  &:before {
    content: "\f054";
    position: absolute;
    top: 1px;
    left: -30px;
    font-family: FontAwesome;
    color: $blaze_orange;
    font-size: 19px;

    @include  mq (400px, max) {
      left: -20px;
      font-size: 13px;
    }
  }

  @include  mq (400px, max) {
    margin: 0 0 15px 0;
  }
}

.text-2 {
  margin: 0 0 23px 0;
  position: relative;

  @include  mq (400px, max) {
    margin: 0 0 15px 0;
  }
}

.text-3 {
  margin: 0 0 0 0;
  position: relative;

  &:before {
    content: "\f054";
    position: absolute;
    top: 3px;
    left: -30px;
    font-family: FontAwesome;
    color: $blaze_orange;
    font-size: 19px;

    @include  mq (400px, max) {
      left: -20px;
      font-size: 13px;
    }
  }

  @include  mq (400px, max) {
    margin: 0 0 12px 0;
  }
}

.text-4 {
  margin: 2px 0 0 0;
  position: relative;
  line-height: 22px;

  @include  mq (400px, max) {
    line-height: 14px;
    letter-spacing: -0.7px;
  }
}

.text-5 {
  margin: 20px 0 21px 0;
  position: relative;
  line-height: 22px;

  @include  mq (400px, max) {
    margin: 15px 0 16px 0;
    line-height: 15px;
    letter-spacing: -0.7px;
  }
}

.text-6 {
  margin: 0 0 0 0;
  position: relative;

  @include  mq (400px, max) {
    line-height: 15px;
    letter-spacing: -0.9px;
  }
}

.text-7 {
  margin: 23px 0 0 0;
  position: relative;

  &:before {
    content: "\f054";
    position: absolute;
    top: 3px;
    left: -30px;
    font-family: FontAwesome;
    color: $blaze_orange;
    font-size: 19px;

    @include  mq (400px, max) {
      left: -20px;
      font-size: 13px;
    }
  }

  @include  mq (400px, max) {
    margin: 14px 0 14px 0;
    letter-spacing: -0.7px;
  }
}

.text-8 {
  margin: 2px 0 23px 0;
  position: relative;

  @include  mq (400px, max) {
    margin: 0 0 14px 0;
    line-height: 15px;
    letter-spacing: -0.8px;
  }
}

.text-9 {
  margin: 0 0 22px 0;
  position: relative;

  @include  mq (400px, max) {
    margin: 1px 0 15px 0;
    line-height: 15px;
    letter-spacing: -0.7px;
  }
}

.text-10 {
  margin: 0 0 21px 0;
  line-height: 22px;
  position: relative;

  @include  mq (400px, max) {
    margin: 1px 0 14px 0;
    line-height: 15px;
    letter-spacing: -0.8px;
  }
}

.text-11 {
  margin: 0 0 0 0;
  line-height: 22px;
  position: relative;

  @include  mq (400px, max) {
    line-height: 15px;
    letter-spacing: -0.65px;
  }
}


                    /*  main-application  */

.main-application {
  height: 525px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url("../img/main_application_bg.png") center;

  @include  mq (1200px, max) {
    height: auto;
  }

  @include  mq (700px, max) {
    background: url(../img/main_application_bg.png);
    background-position: 31.1% 0%;
    background-size: 330% auto;
    background-repeat: no-repeat;
  }
}

.main-application__title {
  width: 560px;
  margin: 182px 0 0 5px;
  position: relative;
  font-family: $robotoCondensedBold;
  font-size: 36px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  &:before {
    content: " ";
    position: absolute;
    left: 214px;
    bottom: 212px;
    border-top: 2px solid $blaze_orange;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (1200px, max) {
      left: 194px;
    }

    @include  mq (1100px, max) {
      left: 174px;
      bottom: 192px;
    }

    @include  mq (1000px, max) {
      left: 154px;
      bottom: 172px;
    }

    @include  mq (900px, max) {
      left: 134px;
      bottom: 152px;
    }

    @include  mq (800px, max) {
      left: 114px;
      bottom: 132px;
    }

    @include  mq (700px, max) {
      display: none;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    left: 225px;
    bottom: 209px;
    border-top: 2px solid $trinidad;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (1200px, max) {
      left: 205px;
    }

    @include  mq (1100px, max) {
      left: 185px;
      bottom: 189px;
    }

    @include  mq (1000px, max) {
      left: 165px;
      bottom: 169px;
    }

    @include  mq (900px, max) {
      left: 145px;
      bottom: 149px;
    }

    @include  mq (800px, max) {
      left: 125px;
      bottom: 129px;
    }

    @include  mq (700px, max) {
      display: none;
    }
  }

  @include  mq (1200px, max) {
    width: 523px;
    font-size: 34px;
    line-height: 56px;
    margin: 169px 0 0 5px;
  }

  @include  mq (1100px, max) {
    width: 486px;
    font-size: 31px;
    line-height: 52px;
    margin: 156px 0 0 5px;
  }

  @include  mq (1000px, max) {
    width: 449px;
    font-size: 29px;
    line-height: 48px;
    margin: 143px 0 0 5px;
  }

  @include  mq (900px, max) {
    width: 412px;
    font-size: 26px;
    line-height: 44px;
    margin: 131px 0 0 5px;
  }

  @include  mq (800px, max) {
    width: 375px;
    font-size: 24px;
    line-height: 40px;
    margin: 118px 0 0 5px;
  }

  @include  mq (700px, max) {
    width: 339px;
    font-size: 22px;
    line-height: 36px;
    margin: 105px 0 0 5px;
  }

  @include  mq (600px, max) {
    width: 302px;
    font-size: 19px;
    line-height: 32px;
    margin: 92px 0 0 5px;
  }

  @include  mq (500px, max) {
    width: 265px;
    font-size: 17px;
    line-height: 28px;
    margin: 79px 0 0 5px;
  }

  @include  mq (400px, max) {
    width: 255px;
    font-size: 16px;
    line-height: 26px;
    margin: 67px 0 0 7px;
    letter-spacing: 0.5px;
  }
}

.main-application__button {
  width: 195px;
  height: 51px;
  margin: 86px 0 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: $white;
  font-family: $robotoCondensedRegular;
  font-size: 24px;
  color: $boulder;
  text-decoration: none;
  list-style: none;
  outline: 0;

  &:hover {
    color: $white;
    background-color: $blaze_orange;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include  mq (1200px, max) {
    margin: 81px 0 82px 23px;
  }

  @include  mq (1100px, max) {
    margin: 76px 0 80px 22px;
  }

  @include  mq (1000px, max) {
    margin: 71px 0 77px 20px;
  }

  @include  mq (900px, max) {
    margin: 66px 0 73px 19px;
  }

  @include  mq (800px, max) {
    margin: 61px 0 70px 18px;
  }

  @include  mq (700px, max) {
    margin: 56px 0 67px 17px;
  }

  @include  mq (600px, max) {
    margin: 51px 0 64px 16px;
  }

  @include  mq (500px, max) {
    margin: 46px 0 61px 14px;
  }

  @include  mq (400px, max) {
    margin: 37px 0 57px 5px;
  }
}


                    /*  main-about  */

.main-about {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include  mq (400px, max) {
    background-color: $wild-sand;
  }
}

.main-about__title {
  margin: 54px 0 74px -2px;
  position: relative;
  font-family: $robotoCondensedBold;
  font-size: 30px;
  text-transform: uppercase;
  color: $mine_shaft;

  &:before {
    content: " ";
    position: absolute;
    left: -10px;
    top: 62px;
    border-top: 2px solid $blaze_orange;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (900px, max) {
      top: 57px;
    }

    @include  mq (400px, max) {
      top: 47px;
      left: -26px;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    left: -19px;
    top: 59px;
    border-top: 2px solid $trinidad;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (900px, max) {
      top: 54px;
    }

    @include  mq (400px, max) {
      top: 44px;
      left: -35px;
    }
  }

  @include  mq (900px, max) {
    font-size: 25px;
    margin: 40px 0 60px -2px;
  }

  @include  mq (400px, max) {
    font-size: 20px;
    margin: 30px 0 24px 0;
    letter-spacing: 0.3px;
  }
}

.main-about__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $wild-sand;

  @include  mq (900px, max) {
    flex-direction: column;
    align-items: center;
  }
}

.main-about__content-left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;

  @include  mq (900px, max) {
    justify-content: center;
  }
}

.main-about__content-center {
  display: flex;
  width: 32px;
  height: 532px;
  margin: 0 0 0 12px;
  background-color: $blaze_orange;

  @include  mq (1000px, max) {
    height: 500px;
  }

  @include  mq (900px, max) {
    display: none;
  }
}

.main-about__content-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: $mine_shaft;

  @include  mq (900px, max) {
    justify-content: center;
  }
}

.main-about__content-left--list {
  width: 485px;
  padding: 77px 13px 0 26px;
  box-sizing: border-box;

  @include  mq (1100px, max) {
    width: 455px;
    padding: 77px 13px 0 30px;
  }

  @include  mq (1000px, max) {
    width: 360px;
    padding: 77px 13px 0 30px;
  }

  @include  mq (900px, max) {
    padding: 60px 0 30px 30px;
  }

  @include  mq (400px, max) {
    width: 265px;
    padding: 38px 0 30px 30px;
    margin: 0 16px 27px 0;
  }
}

.main-about__content-right--list {
  width: 420px;
  margin: 47px 0 77px 65px;

  @include  mq (1100px, max) {
    margin: 47px 0 77px 45px;
  }

  @include  mq (1000px, max) {
    margin: 47px 0 50px 45px;
  }

  @include  mq (500px, max) {
    width: 290px;
  }

  @include  mq (400px, max) {
    margin: 9px 0 30px 8px;
  }
}

.content-left__list-text {
  margin: 0 0 0 0;
  position: relative;
  font-family: $robotoCondensedRegular;
  font-size: 20px;
  line-height: 30px;
  color: $diesel;

  &:before {
    content: "\f054";
    position: absolute;
    top: -1px;
    left: -30px;
    font-family: FontAwesome;
    color: $blaze_orange;
    font-size: 18px;

    @include  mq (400px, max) {
      top: 3px;
      left: -29px;
    }
  }

  @include  mq (1100px, max) {
    font-size: 18px;
    line-height: 28px;
  }

  @include  mq (1000px, max) {
    font-size: 16px;
    line-height: 24px;
  }

  @include  mq (400px, max) {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
}

.about-left__text-2 {
  margin: 45px 0 0 1px;

  &:before {
    top: -1px;
    left: -32px;

    @include  mq (400px, max) {
      top: 4px;
      left: -27px;
    }
  }

  @include  mq (400px, max) {
    margin: 16px 0 0 -3px;
  }
}

.about-left__text-3 {
  margin: 22px 0 38px 0;
  padding: 0 60px 0 0;
  box-sizing: border-box;

  &:before {
    top: 0;
    left: -30px;

    @include  mq (400px, max) {
      top: 2px;
    }
  }

  @include  mq (400px, max) {
    margin: 13px 0 10px 1px;
    padding: 0 60px 0 0;
    box-sizing: border-box;
    letter-spacing: 0.1px;
  }
}

.about-left__text-4 {
  padding: 0 50px 0 0;
  box-sizing: border-box;

  &:before {
    top: 2px;
    left: -30px;
  }

  @include  mq (1000px, max) {
    padding: 0 5px 0 0;
    letter-spacing: 0.2px;
  }
}

.content-right__list-item--1 {
  margin: 0 0 0 0;
  display: flex;
  justify-content: flex-start;

  @include  mq (1000px, max) {
    margin: 25px 0 25px 0;
  }

  @include  mq (400px, max) {
    margin: 25px 0 10px 0;
  }
}

.content-right__list-item--2 {
  margin: 15px 0 15px 2px;
  display: flex;
  justify-content: flex-start;

  @include  mq (1000px, max) {
    margin:  0 0 25px 0;
  }

  @include  mq (400px, max) {
    margin:  0 0 9px 1px;
  }
}

.content-right__list-item--3 {
  margin: 0 0 0 2px;
  display: flex;
  justify-content: flex-start;

  @include  mq (1000px, max) {
    margin:  0 0 25px 2px;
  }

  @include  mq (400px, max) {
    margin: 0 0 10px 1px;
  }
}

.content-right__list-item--4 {
  margin: 16px 0 0 3px;
  display: flex;
  justify-content: flex-start;

  @include  mq (1000px, max) {
    margin:  0 0 25px 3px;
  }

  @include  mq (400px, max) {
    margin: 0 0 12px 2px;
  }
}

.content-right__list-item--5 {
  margin: 20px 0 0 4px;
  display: flex;
  justify-content: flex-start;

  @include  mq (1000px, max) {
    margin:  0 0 25px 4px;
  }

  @include  mq (400px, max) {
    margin:  0 0 25px 3px;
  }
}

.content-right__list-item--image {
  width: 67px;
  height: 67px;

  @include  mq (1000px, max) {
    width: 47px;
    height: 47px;
  }
}

.content-right__list-item--text {
  width: 310px;
  margin: 0 0 0 0;
  position: relative;
  font-family: $robotoCondensedRegular;
  font-size: 24px;
  line-height: 24px;
  color: $white;

  @include  mq (1100px, max) {
    font-size: 22px;
    line-height: 22px;
  }

  @include  mq (1000px, max) {
    font-size: 20px;
    line-height: 20px;
  }

  @include  mq (400px, max) {
    font-size: 18px;
    line-height: 21px;
  }
}

.about-text--1 {
  margin: 28px 0 0 33px;

  @include  mq (1000px, max) {
    margin: 15px 0 0 33px;
  }

  @include  mq (400px, max) {
    margin: 2px 0 0 15px;
    padding: 0 10px 0 0;
  }
}

.about-text--2 {
  margin: 30px 0 0 30px;

  @include  mq (1000px, max) {
    margin: 15px 0 0 32px;
  }

  @include  mq (400px, max) {
    margin: 10px 0 0 14px;
  }
}

.about-text--3 {
  margin: 23px 0 0 32px;

  @include  mq (1000px, max) {
    margin: 15px 0 0 32px;
  }

  @include  mq (400px, max) {
    margin: 10px 0 0 13px;
  }
}

.about-text--4 {
  width: 275px;
  margin: 10px 0 0 31px;
  line-height: 28px;

  @include  mq (1000px, max) {
    margin: 0 0 0 31px;
  }

  @include  mq (400px, max) {
    margin: 3px 0 0 14px;
    padding: 0 22px 0 0;
    line-height: 21px;
  }
}

.about-text--5 {
  margin: 18px 0 0 30px;
  line-height: 28px;

  @include  mq (1000px, max) {
    margin: 0 0 0 30px;
  }

  @include  mq (400px, max) {
    margin: 0 0 0 12px;
    line-height: 22px;
  }
}


                    /*  main-photo  */

.main-photo {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: $white;

  &:before {
    content: " ";
    position: absolute;
    left: -11px;
    top: 66px;
    right: 0;
    margin: auto;
    border-top: 2px solid $trinidad;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (600px, max) {
      top: 31px;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    left: 7px;
    top: 69px;
    right: 0;
    margin: auto;
    border-top: 2px solid $blaze_orange;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (600px, max) {
      top: 34px;
    }
  }
}

.main-photo__images-wrapper {
  margin: 126px 0 45px 9px;

  @include  mq (1200px, max) {
    margin: 84px 0 30px 0;
  }

  @include  mq (600px, max) {
    margin: 64px 0 56px 0;
  }
}

.main-photo__images-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 385px);
  grid-template-rows: 302px 274px 301px;
  grid-column-gap: 2px;
  grid-row-gap: 4px;
  grid-template-areas:
          "a b b"
          "a c f"
          "d e f";

  @include  mq (1200px, max) {
    grid-template-columns: repeat(3, 192px);
    grid-template-rows: 151px 137px 150px;
    grid-row-gap: 2px;
  }

  @include  mq (620px, max) {
    grid-template-columns: repeat(2, 176px);
    grid-template-rows: 139px 126px 138px;
    grid-row-gap: 2px;
    grid-template-areas:
            "a b"
            "a c"
            "d e";
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;                                                      /*    косяк   */
  top: 0;
  transition: 0.3s;

  p {
    width: 170px;
    height: 80px;
    margin: 0 4% 8% 0;
    position: relative;
    font-family: $robotoCondensedLight;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 1px;
    color: transparent;
    transition: 0.5s;

    @include  mq (1200px, max) {
      width: 85px;
      height: 40px;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.5px;
    }

    &:before {
      content: "\f107";
      position: absolute;
      top: 80px;
      left: 87px;
      font-family: FontAwesome;
      color: transparent;
      font-size: 32px;
      transition: 0.5s;

      @include  mq (1200px, max) {
        top: 40px;
        left: 44px;
        font-size: 16px;
      }
    }
  }
}

.main-photo__images-1,
.main-photo__images-2,
.main-photo__images-3,
.main-photo__images-4,
.main-photo__images-5,
.main-photo__images-6 {
  &:hover {
    .overlay {
      background: rgba(255,112,0,.5);

      p {
        color: $white;

        &:before {
          color: $white;
        }
      }
    }
  }
}


.main-photo__images-1 {
  grid-area: a;
  position: relative;
}

.main-photo__images-1-content {
  width: 385px;
  height: auto;

  @include  mq (1200px, max) {
    width: 192px;
    height: auto;
  }

  @include  mq (620px, max) {
    width: 176px;
    height: auto;
  }
}

.main-photo__images-2 {
  grid-area: b;
  position: relative;

  @include  mq (620px, max) {
    background: url("../img/main_photo_2.png") no-repeat;
    background-size: 210%;
    background-position: 67% -6px;
  }
}

.main-photo__images-2-content {
  width: 774px;
  height: auto;

  @include  mq (1200px, max) {
    width: 387px;
    height: auto;
  }

  @include  mq (620px, max) {
    /*width: 176px;
    height: auto;*/
    display: none;
  }
}

.main-photo__images-3 {
  grid-area: c;
  position: relative;
}

.main-photo__images-3-content {
  width: 385px;
  height: auto;

  @include  mq (1200px, max) {
    width: 192px;
    height: auto;
  }

  @include  mq (620px, max) {
    width: 176px;
    height: auto;
  }
}

.main-photo__images-4 {
  grid-area: d;
  position: relative;
}

.main-photo__images-4-content {
  width: 385px;
  height: auto;

  @include  mq (1200px, max) {
    width: 192px;
    height: auto;
  }

  @include  mq (620px, max) {
    width: 176px;
    height: auto;
  }
}

.main-photo__images-5 {
  grid-area: e;
  position: relative;
}

.main-photo__images-5-content {
  width: 385px;
  height: auto;

  @include  mq (1200px, max) {
    width: 192px;
    height: auto;
  }

  @include  mq (620px, max) {
    width: 176px;
    height: auto;
  }
}

.main-photo__images-6 {
  grid-area: f;
  position: relative;
}

.main-photo__images-6-content {
  width: 385px;
  height: auto;

  @include  mq (1200px, max) {
    width: 192px;
    height: auto;
  }

  @include  mq (620px, max) {
    display: none;
  }
}













                      /*  main-grades */

.main-grades {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $mercury;
}

.main-grades__title {
  margin: 44px 0 85px 29px;
  position: relative;
  font-family: $robotoCondensedBold;
  font-size: 30px;
  text-transform: uppercase;
  color: $mine_shaft;

  &:before {
    content: " ";
    position: absolute;
    left: -46px;
    top: 60px;
    right: 0;
    margin: auto;
    border-top: 2px solid $trinidad;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (650px, max) {
      left: -36px;
      top: 53px;
    }

    @include  mq (450px, max) {
      left: -27px;
      top: 45px;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    left: -30px;
    top: 63px;
    right: 0;
    margin: auto;
    border-top: 2px solid $blaze_orange;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (650px, max) {
      left: -19px;
      top: 56px;
    }

    @include  mq (450px, max) {
      left: -8px;
      top: 48px;
    }
  }

  @include  mq (1100px, max) {
    margin: 44px 0 85px 0;
  }

  @include  mq (650px, max) {
    margin: 30px 0 57px 0;
    font-size: 20px;
  }

  @include  mq (450px, max) {
    margin: 16px 5px 55px 0;
    font-size: 16px;
    letter-spacing: 0.3px;
  }
}

.slider {
  width: 40%;
  margin: 0 0 66px 123px;

  @include  mq (1400px, max) {
    width: 50%;
    margin: 0 0 66px 83px;
  }

  @include  mq (1100px, max) {
    width: 60%;
    margin: 0 0 66px 43px;
  }

  @include  mq (950px, max) {
    width: 70%;
    margin: 0 0 33px 23px;
  }

  @include  mq (800px, max) {
    width: 80%;
  }

  @include  mq (650px, max) {
    display: none;
  }
}

.slick-slide {
  margin: 0 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}


.main-grades__gallery {
  display: none;
  margin: 0 0 9px 0;

  @include  mq (650px, max) {
    display: grid;
    grid-template-columns: repeat(3, 119px);
    grid-template-rows: 115px 115px 115px;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-areas:
            "a b c"
            "d e f"
            "g h j";
  }

}

.main-grades__gallery-item--1 {
  grid-area: d;
  border: 1px solid $nevada;

  img {
    width: 89px;
    height: auto;
    margin: 30px 0 0 11px;
  }
}

.main-grades__gallery-item--2 {
  grid-area: a;
  border: 1px solid $nevada;

  img {
    width: 89px;
    height: auto;
    margin: 32px 0 0 9px;
  }
}

.main-grades__gallery-item--3 {
  grid-area: f;
  border: 1px solid $nevada;

  img {
    width: 89px;
    height: auto;
    margin: 29px 0 0 17px;
  }
}

.main-grades__gallery-item--4 {
  grid-area: c;
  border: 1px solid $nevada;

  img {
    width: 89px;
    height: auto;
    margin: 33px 0 0 15px
  }
}

.main-grades__gallery-item--5 {
  grid-area: b;
  border: 1px solid $nevada;

  img {
    width: 97px;
    height: auto;
    margin: 26px 0 0 13px;
  }
}

.main-grades__gallery-item--6 {
  grid-area: g;
  border: 1px solid $nevada;

  img {
    width: 89px;
    height: auto;
    margin: 27px 0 0 10px;
  }
}

.main-grades__gallery-item--7 {
  grid-area: h;
  border: 1px solid $nevada;

  img {
    width: 89px;
    height: auto;
    margin: 29px 0 0 15px;
  }
}

.main-grades__gallery-item--8 {
  grid-area: e;
  border: 1px solid $nevada;

  img {
    width: 89px;
    height: auto;
    margin: 20px 0 0 16px;
  }
}

.main-grades__gallery-item--9 {
  grid-area: j;
  border: 1px solid $nevada;

  img {
    width: 89px;
    height: auto;
    margin: 28px 0 0 18px;
  }
}

                    /*  main-contacts   */

.main-contacts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $white;
}

.main-contacts--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-contacts__title {
  margin: 24px 12px 52px 0;
  position: relative;
  font-family: $robotoCondensedBold;
  font-size: 30px;
  text-transform: uppercase;
  color: $mine_shaft;

  &:before {
    content: " ";
    position: absolute;
    left: -5px;
    top: 55px;
    right: 0;
    margin: auto;
    border-top: 2px solid $trinidad;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (500px, max) {
      left: -11px;
      top: 32px;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    left: 14px;
    top: 58px;
    right: 0;
    margin: auto;
    border-top: 2px solid $blaze_orange;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (500px, max) {
      left: -2px;
      top: 35px;
    }
  }

  @include  mq (500px, max) {
    margin: 12px 21px 29px 0;
    font-size: 20px;
    letter-spacing: 0.5px;
  }
}

.main-contacts__wrapper {
  width: 1000px;
  margin: 0 6px 68px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @include  mq (1100px, max) {
    width: 1000px;
    margin: 0 0 68px 0;
    justify-content: center;
  }

  @include  mq (1000px, max) {
    width: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @include  mq (950px, max) {
    width: 800px;
  }

  @include  mq (800px, max) {
    width: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @include  mq (500px, max) {
    margin: 0 0 12px 0;
  }
}

.main-contacts__left {
  width: auto;
  margin: 0 141px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include  mq (1100px, max) {
    margin: 0 100px 0 0;
  }

  /*@include  mq (950px, max) {
    margin: 0 50px 0 0;
  }*/

  @include  mq (1000px, max) {
    margin: 0 0 0 0;
    align-items: center;
  }
}

.main-contacts__right {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include  mq (500px, max) {
    width: 359px;
    display: flex;
    justify-content: flex-start;
  }
}

.main-contacts__left-address {
  margin: 0 0 0 0;
  font-family: $robotoCondensedBold;
  font-size: 21.44px;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: $mine_shaft;

  @include  mq (950px, max) {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.3px;
  }

  @include  mq (950px, max) {
    line-height: 20px;
    margin: 7px 15px 0 0;
  }
}

.main-contacts__left-address--text {
  margin: 0 0 0 0;
  font-family: $robotoCondensedLight;
  font-size: 21.44px;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: $mine_shaft;

  @include  mq (950px, max) {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.3px;
  }

  @include  mq (500px, max) {
    display: none;
  }
}

.main-contacts__left-address--texts {
  display: none;
  font-family: $robotoCondensedLight;
  color: $mine_shaft;

  @include  mq (500px, max) {
    display: flex;
    margin: 0 14px 0 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.3px;
    text-align: center;
  }
}

.main-contacts__left-time {
  margin: 5px 0 0 0;
  font-family: $robotoCondensedBold;
  font-size: 21.44px;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: $mine_shaft;

  @include  mq (950px, max) {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.3px;
  }

  @include  mq (500px, max) {
    margin: 25px 16px 0 0;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }
}

.main-contacts__left-time--text {
  margin: 0 0 0 0;
  font-family: $robotoCondensedLight;
  font-size: 21.44px;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: $mine_shaft;

  @include  mq (950px, max) {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.3px;
  }

  @include  mq (500px, max) {
    margin: 0 16px 0 3px;
    line-height: 26px;
    letter-spacing: 0.3px;
  }
}

.main-contacts__left-phone {
  margin: 24px 0 0 2px;
  font-family: $robotoCondensedBold;
  font-size: 21.44px;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: $mine_shaft;

  @include  mq (950px, max) {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.3px;
  }

  @include  mq (500px, max) {
    margin: 20px 3px 0 0;
    line-height: 18px;
  }
}

.main-contacts__left-phone--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include  mq (500px, max) {
    margin: 20px 0 76px 1px;
  }
}

.main-contacts__left-phone--text {
  margin: 0 0 0 2px;
  font-family: $robotoCondensedLight;
  font-size: 21.44px;
  line-height: 36px;
  color: $mine_shaft;

  @include  mq (950px, max) {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.3px;
  }

  @include  mq (500px, max) {
    display: none;
  }
}

.main-contacts__left-phone--texts {
  display: none;
  margin: 0 0 0 2px;
  font-family: $robotoCondensedLight;
  font-size: 21.44px;
  line-height: 36px;
  color: $mine_shaft;

  @include  mq (500px, max) {
    margin: 3.5px 0 0 0;
    display: block;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }
}

.main-contacts__left-phone--link {
  font-family: $robotoCondensedLight;
  font-size: 21.44px;
  line-height: 36px;
  letter-spacing: 0.2px;
  color: $mine_shaft;
  text-decoration: none;
  list-style: none;
  outline: 0;

  @include  mq (950px, max) {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.3px;
  }

  @include  mq (500px, max) {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }
}

.main-contacts__right-maps {
  margin: 5px 0 0 0;
  width: 488px;

  @include  mq (500px, max) {
    width: 354px;
    height: 240px;
    background-size: 100%;
    background-position: 0 67%;
    border-top: 5px solid $zest;
  }
}

.main-contacts__right-maps--big {
  width: 488px;
  border-bottom: 5px solid $zest;

  @include  mq (1100px, max) {

  }

  @include  mq (500px, max) {
    display: none;
  }
}

#mymap {

  @include  mq (501px, min) {
    display: none;
  }
}

#mymapBig {
}


                    /*  main-dummy  */

.main-dummy {
  width: 100%;
  height: 17px;
  background-color: $mercury;

  @include  mq (500px, max) {
    display: none;
  }
}








































