.slide-1__spares-content {
  position: absolute;
  top: 156px;
  left: 456px;
  width: 650px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include  mq (1800px, max) {
    top: 150px;
    left: 400px;
  }

  @include  mq (1700px, max) {
    top: 135px;
    left: 350px;
    width: 450px;
  }

  @include  mq (1600px, max) {
    top: 120px;
    left: 290px;
  }

  @include  mq (1500px, max) {
    top: 115px;
    left: 240px;
    width: 350px;
  }

  @include  mq (1400px, max) {
    left: 195px;
    width: 310px;
  }

  @include  mq (1300px, max) {
    left: 140px;
  }

  @include  mq (1200px, max) {
    top: 100px;
  }

  @include  mq (1100px, max) {
    width: 230px;
    left: 90px;
  }

  @include  mq (900px, max) {
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
  }

  @include  mq (650px, max) {
    display: none;
  }
}

.slide-1__spares-content--title {
  font-family: $robotoCondensedBold;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.9px;
  text-transform: uppercase;
  color: $white;

  @include  mq (1700px, max) {
    font-size: 35px;
    line-height: 50px;
  }

  @include  mq (1500px, max) {
    font-size: 30px;
    line-height: 45px;
  }

  @include  mq (1400px, max) {
    font-size: 25px;
    line-height: 35px;
  }

  @include  mq (1100px, max) {
    font-size: 20px;
    line-height: 25px;
  }

  @include  mq (900px, max) {
    text-align: center;
  }

  @include  mq (650px, max) {
    width: 280px;
    margin: 11px 0 50px 0;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.7px;
  }
}

.slide-spares__button {
  width: 226px;
  height: 51px;
  margin: 25px 0 0 2px;
  padding-left: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: $white;
  font-family: $robotoCondensedRegular;
  font-size: 16px;
  line-height: 26px;
  color: $black;
  text-decoration: none;
  list-style: none;
  outline: 0;

  &:hover {
    color: $white;
    background-color: $blaze_orange;
    transition: 0.5s all;

    .slide-spares__button-image {
      fill: $white;
      transition: 0.5s all;
    }
  }

  &:not(:hover) {
    transition: 0.5s all;

    .slide-spares__button-image {
      transition: 0.5s all;
    }
  }

  @include  mq (1400px, max) {
    margin: 5px 0 0 2px;
  }

  @include  mq (1200px, max) {
    width: 205px;
    height: 41px;
  }
}

.slide-spares__button-image {
  fill: $black;
  margin: 3px 0 0 16px;

  @include  mq (1200px, max) {
    margin: 3px 0 0 6px;
  }

  @include  mq (1000px, max) {
    width: 19px;
    height: 19px;
  }
}



.owl-carousel.off {
  display: block;
}



.mobile-slider__spares {
  width: 100%;
  height: 430px;
  background: url("../img/spares_pages/spares_slide-1.png") no-repeat;
  background-position: 53% 91%;
  background-size: 370% auto;
  position: relative;

  @include  mq (651px, min) {
    display: none;
  }

  @include  mq (400px, max) {
    background-size: 420% auto;
  }

  &:before {
    content: "\f103";
    position: absolute;
    bottom: 26px;
    left: 47%;
    margin: auto;
    font-family: FontAwesome;
    color: $white;
    font-size: 31px;
  }
}

.mobile-slider__spares-content {
  width: auto;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 135px;
  margin: auto;

  @include  mq (651px, min) {
    display: none;
  }
}

.mobile-slider__spares-content--title {
  width: 285px;
  margin: 11px 0 50px 2px;
  text-align: center;
  font-family: $robotoCondensedBold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $white;
}

.mobile-slider__spares-content--button {
  width: 225px;
  height: 51px;
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: $white;
  font-family: $robotoCondensedRegular;
  font-size: 16px;
  line-height: 26px;
  color: $black;
  text-decoration: none;
  list-style: none;
  outline: 0;

  &:hover {
    color: $white;
    background-color: $blaze_orange;
    transition: 0.5s all;

    .mobile-slider__spares-search--image {
      fill: $white;
      transition: 0.5s all;
    }
  }

  &:not(:hover) {
    transition: 0.5s all;

    .mobile-slider__spares-search--image {
      transition: 0.5s all;
    }
  }
}

.mobile-slider__spares-search--image {
  fill: $black;
  margin: 3px 0 0 16px;

  @include  mq (1200px, max) {
    margin: 3px 0 0 6px;
  }

  @include  mq (1000px, max) {
    width: 19px;
    height: 19px;
  }
}

.slider-spares__form {
  display: flex;
  position: relative;
}

.slider-spares__form-text {
  width: 225px;
  height: 51px;
  margin-left: 2px;
  padding-left: 18px;
  box-sizing: border-box !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: none;
  background-color: $white;
  font-family: $robotoCondensedRegular;
  font-size: 16px;
  line-height: 26px;
  color: $black;
  text-decoration: none;
  list-style: none;
  outline: 0;

  @include  mq (1400px, max) {
    margin: 5px 0 0 2px;
  }

  @include  mq (1200px, max) {
    width: 205px;
    height: 41px;
    padding-left: 12px;
  }

  @include  mq (650px, max) {
    width: 225px;
    height: 51px;
    padding-left: 18px;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $black;
  font-size: 16px;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $black;
  font-size: 16px;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $black;
  font-size: 16px;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: $black;
  font-size: 16px;
  opacity: 1;
}



.slider-spares__form-button {
  position: absolute;
  top: 14px;
  right: 3px;
  content: "&#xf267";
  font-family: FontAwesome;
  color: $black;
  font-size: 20px;
  border: none;
  background: transparent;

  @include  mq (1400px, max) {
    top: 18px;
  }

  @include  mq (1200px, max) {
    top: 14px;
    right: 0;
  }

  @include  mq (650px, max) {
    top: 18px;
    right: 3px;
  }
}

                          /*  .main-categories__spacer  */

.main-categories__spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gallery;
}

.main-categories__spacer-wrapper {
  width: 1200px;
  padding: 112px 0 72px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background-color: $gallery;

  @include  mq (1200px, max) {
    width: 900px;
    padding: 82px 0 52px 0;
  }

  @include  mq (950px, max) {
    width: 600px;
    padding: 62px 0 32px 0;
  }

  @include  mq (600px, max) {
    width: 350px;
  }

  &:before {
    content: " ";
    position: absolute;
    left: 41.8%;
    top: 78px;
    border-top: 2px solid $trinidad;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (1200px, max) {
      left: 43.8%;
      top: 58px;
    }

    @include  mq (950px, max) {
      left: 39.8%;
      top: 38px;
    }

    @include  mq (600px, max) {
      left: 30.5%;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    left: 42.5%;
    top: 81px;
    border-top: 2px solid $blaze_orange;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (1200px, max) {
      left: 44.5%;
      top: 61px;
    }

    @include  mq (950px, max) {
      left: 41.5%;
      top: 41px;
    }

    @include  mq (600px, max) {
      left: 33.5%;
    }
  }
}

.main-categories__spacer-category {
  position: relative;
  width: 359px;
  height: 359px;
  margin: 25px 0;
  display: flex;
  text-decoration: none;
  list-style: none;
  outline: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);

  @include  mq (1200px, max) {
    width: 259px;
    height: 259px;
    margin: 15px 0;
  }

  @include  mq (950px, max) {
    margin: 15px 20px 15px 20px;
  }

  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    background: transparent;

    display: block;
    height: 359px;
    width: 359px;

    @include  mq (1200px, max) {
      width: 259px;
      height: 259px;
    }
  }

  &:hover {
    &:before {
      background: rgba(0,0,0,0.4);
      transition: 0.5s all;
    }
  }

  &:not(:hover) {
    &:before {
      transition: 0.5s all;
    }
  }
}

.category-2,
.category-5 {
  margin: 0 35px 0 27px;

  @include  mq (1200px, max) {
    margin: 0 25px 0 25px;
  }

  @include  mq (950px, max) {
    margin: 15px 20px 15px 20px;
  }
}

.main-categories__spacer-category--content {
  width: 359px;
  height: 359px;

  @include  mq (1200px, max) {
    width: 259px;
    height: 259px;
  }
}

.main-categories__overlay {
  position: absolute;
  top: 264px;

  @include  mq (1200px, max) {
    top: 180px;
  }

  p {
    width: 359px;
    height: 78px;
    box-sizing: border-box;
    font-family: $robotoCondensedRegular;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    letter-spacing: 0.3px;
    text-align: center;
    color: $white;
    background-color: $bamboo;

    @include  mq (1200px, max) {
      width: 259px;
      height: 58px;
      font-size: 20px;
      line-height: 26px;
    }
  }
}

.main-categories__overlay-center {
  position: absolute;
  top: 264px;

  @include  mq (1200px, max) {
    top: 180px;
  }

  p {
    width: 359px;
    height: 78px;
    box-sizing: border-box;
    font-family: $robotoCondensedRegular;
    font-size: 30px;
    line-height: 78px;
    margin: 0;
    letter-spacing: 0;
    text-align: center;
    color: $white;
    background-color: $bamboo;

    @include  mq (1200px, max) {
      width: 259px;
      height: 58px;
      font-size: 20px;
      line-height: 58px;
    }
  }
}

.spares-overlay__1 {
  padding-right: 6px;
}

.spares-overlay__2 {
  padding-left: 8px;
}

.spares-overlay__3 {
  padding-left: 14px;
}

.spares-overlay__4 {
  padding-right: 10px;
}

.spares-overlay__5 {
  padding-right: 6px;
}

.spares-overlay__6 {
  padding-left: 9px;
}


                /*  main-application__spacer  */

.main-application__spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $log_cabin;
}

.main-application__spacer-wrapper {
  width: 100%;
  height: 523px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("../img/spares_pages/spares_bid.png") no-repeat;
  background-position: 51.5%;

  @include  mq (1200px, max) {
    height: auto;
  }

  @include  mq (700px, max) {
    background-size: 145%;
  }

  @include  mq (500px, max) {
    background-size: 180%;
  }

  @include  mq (400px, max) {
    background-size: 212%;
  }
}

.main-application__spacer-title {
  width: 570px;
  height: auto;
  margin: 206px 0 61px 0;
  position: relative;
  font-family: $robotoCondensedBold;
  font-size: 36px;
  line-height: 60px;
  letter-spacing: -0.6px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  @include  mq (1200px, max) {
    width: 535px;
    font-size: 34px;
    line-height: 56px;
    margin: 149px 0 0 5px;
  }

  @include  mq (1100px, max) {
    width: 486px;
    font-size: 31px;
    line-height: 52px;
    margin: 156px 0 0 5px;
  }

  @include  mq (1000px, max) {
    width: 455px;
    font-size: 29px;
    line-height: 48px;
    margin: 143px 0 0 5px;
  }

  @include  mq (900px, max) {
    width: 412px;
    font-size: 26px;
    line-height: 44px;
    margin: 131px 0 0 5px;
  }

  @include  mq (800px, max) {
    width: 375px;
    font-size: 24px;
    line-height: 40px;
    margin: 118px 0 0 5px;
  }

  @include  mq (700px, max) {
    width: 339px;
    font-size: 22px;
    line-height: 36px;
    margin: 105px 0 0 5px;
  }

  @include  mq (600px, max) {
    width: 302px;
    font-size: 19px;
    line-height: 32px;
    margin: 92px 0 0 5px;
  }

  &:before {
    content: " ";
    position: absolute;
    left: 230px;
    bottom: 210px;
    border-top: 2px solid $trinidad;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (1200px, max) {
      left: 194px;
      bottom: 160px;
    }

    @include  mq (1100px, max) {
      left: 174px;
      bottom: 192px;
    }

    @include  mq (1000px, max) {
      left: 154px;
      bottom: 172px;
    }

    @include  mq (900px, max) {
      left: 134px;
      bottom: 152px;
    }

    @include  mq (800px, max) {
      left: 114px;
      bottom: 132px;
    }

    @include  mq (700px, max) {
      display: none;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    left: 239px;
    bottom: 206px;
    border-top: 2px solid $blaze_orange;

    display: block;
    height: 0;
    width: 109px;

    @include  mq (1200px, max) {
      left: 205px;
      bottom: 156px;
    }

    @include  mq (1100px, max) {
      left: 185px;
      bottom: 189px;
    }

    @include  mq (1000px, max) {
      left: 165px;
      bottom: 169px;
    }

    @include  mq (900px, max) {
      left: 145px;
      bottom: 149px;
    }

    @include  mq (800px, max) {
      left: 125px;
      bottom: 129px;
    }

    @include  mq (700px, max) {
      display: none;
    }
  }
}

.main-application__spacer-button {
  width: 195px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $robotoCondensedRegular;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  letter-spacing: 0.3px;
  text-align: center;
  color: $boulder;
  background: $white;
  border-radius: 3px;
  text-decoration: none;
  list-style: none;
  outline: 0;

  &:hover {
    color: $white;
    background-color: $blaze_orange;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include  mq (1200px, max) {
    margin: 81px 0 82px 23px;
  }

  @include  mq (1100px, max) {
    margin: 76px 0 80px 22px;
  }

  @include  mq (1000px, max) {
    margin: 71px 0 77px 20px;
  }

  @include  mq (900px, max) {
    margin: 66px 0 73px 19px;
  }

  @include  mq (800px, max) {
    margin: 61px 0 70px 18px;
  }

  @include  mq (700px, max) {
    margin: 56px 0 67px 17px;
  }

  @include  mq (600px, max) {
    margin: 51px 0 64px 16px;
  }

  @include  mq (500px, max) {
    margin: 46px 0 61px 14px;
  }

  @include  mq (400px, max) {
    margin: 37px 0 57px 5px;
  }
}

