
.owl-theme {
	// Styling Next and Prev buttons
	.owl-nav {
		margin-top: 10px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
			color: $nav-color;
			font-size: $nav-font-size;
			margin: $nav-margin;
			padding: $nav-padding;
			background: $nav-background;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;

			&:hover {
				background: $nav-background-hover;
				color:$nav-color-hover;
				text-decoration: none;
			}
		}
		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 0;
		position: absolute;
		bottom: 57px;
		left: 0;
		right: 24px;
		/* background: white; */
		z-index: 10000;

		@include  mq (1300px, max) {
			bottom: 20px;
		}

		@include  mq (650px, max) {
			bottom: 0;
		}
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			position: relative;
			*display: inline;
			outline: 0;

			&:nth-child(1):before {
				content: "1";
				position: absolute;
				left: 5px;
				bottom: 51px;

				display: block;
				height: auto;
				width: auto;
				font-family: $robotoCondensedRegular;
				border-bottom: 2px solid transparent;
				font-size: 18px;
				color: $white;
				text-decoration: none;
				list-style: none;

				@include  mq (650px, max) {
					font-size: 14px;
					bottom: 35px;
				}
			}

			&:nth-child(2):before {
				content: "2";
				position: absolute;
				left: 5px;
				bottom: 51px;

				display: block;
				height: auto;
				width: auto;
				font-family: $robotoCondensedRegular;
				border-bottom: 2px solid transparent;
				font-size: 18px;
				color: $white;
				text-decoration: none;
				list-style: none;

				@include  mq (650px, max) {
					font-size: 14px;
					bottom: 35px;
				}
			}

			&:nth-child(3):before {
				content: "3";
				position: absolute;
				left: 5px;
				bottom: 51px;

				display: block;
				height: auto;
				width: auto;
				font-family: $robotoCondensedRegular;
				border-bottom: 2px solid transparent;
				font-size: 18px;
				color: $white;
				text-decoration: none;
				list-style: none;

				@include  mq (650px, max) {
					font-size: 14px;
					bottom: 35px;
				}
			}

			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background: url("../img/icon/slider_dots.png") center center no-repeat;
				fill: #fff;

				/*background: $dot-background;*/
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				/*border-radius: $dot-rounded;*/

				@include  mq (1000px, max) {
					width: 45px;
					height: 45px;
					background-size: 70%;
				}

				/*&:nth-child(1):before {
					content: "1";
					position: absolute;
					left: 0px;
					bottom: 40px;
					border-left: 2px solid $blaze_orange;

					display: block;
					height: 109px;
					width: 0;
				}


				&:nth-child(2):before {
					content: "2";
					position: absolute;
					left: 0px;
					bottom: 40px;
					border-left: 2px solid $blaze_orange;

					display: block;
					height: 109px;
					width: 0;
				}*/


			}

			&.active,
			&:hover {
				span {
					background: url("../img/icon/slider_dots-active.png") center center no-repeat;
					/*background: $dot-background-active;*/

					@include  mq (1000px, max) {
						background-size: 70%;
					}
				}

				&:nth-child(1):before,
				&:nth-child(2):before,
				&:nth-child(3):before {
					color: $blaze_orange;
				}
			}
		}
	}
}




.slider-one .owl-item {

	@include  mq (1100px, max) {
		height: 430px;
		background-repeat: no-repeat;
	}

	&:nth-child(3) {
		@include  mq (1100px, max) {
			background: url(../img/main_slider_1.png);
			background-position: 45% 55%;
			background-size: 180% auto;
		}

		@include  mq (650px, max) {
			background: url(../img/main_slider_1.png);
			background-position: 53% 65%;
			background-size: 250% auto;
		}

		@include  mq (500px, max) {
			background: url(../img/main_slider_1.png);
			background-position: 53% 91%;
			background-size: 401% auto;
		}
	}

	&:nth-child(4) {
		@include  mq (1100px, max) {
			background: url(../img/main_slider_2.png);
			background-position: 45% 55%;
			background-size: 180% auto;
		}

		@include  mq (650px, max) {
			background: url(../img/main_slider_2.png);
			background-position: 53% 65%;
			background-size: 250% auto;
		}

		@include  mq (500px, max) {
			background: url(../img/main_slider_2.png);
			background-position: 53% 91%;
			background-size: 401% auto;
		}
	}

	&:nth-child(5) {
		@include  mq (1100px, max) {
			background: url(../img/main_slider_3.png);
			background-position: 45% 55%;
			background-size: 180% auto;
		}

		@include  mq (650px, max) {
			background: url(../img/main_slider_3.png);
			background-position: 53% 65%;
			background-size: 250% auto;
		}

		@include  mq (500px, max) {
			background: url(../img/main_slider_3.png);
			background-position: 53% 91%;
			background-size: 401% auto;
		}
	}

	&:nth-child(6) {
		@include  mq (1100px, max) {
			background: url(../img/main_slider_1.png);
			background-position: 45% 55%;
			background-size: 180% auto;
		}

		@include  mq (650px, max) {
			background: url(../img/main_slider_1.png);
			background-position: 53% 65%;
			background-size: 250% auto;
		}

		@include  mq (500px, max) {
			background: url(../img/main_slider_1.png);
			background-position: 53% 91%;
			background-size: 401% auto;
		}
	}

}

.slider-one .owl-item img {
	height: auto;
	display: block;
	width: 100%;

	@include mq(1920px, max) {
		max-height: 718px;
	}

	@include mq(1200px, max) {
		width: 100%;
		min-height: 430px;
	}


	@include  mq (1100px, max) {
		display: none;
	}
}



/*	slider-two	*/


.slider-two .owl-item {

	@include  mq (1100px, max) {
		height: 320px;
		background-repeat: no-repeat;
	}

	&:nth-child(3) {
		@include  mq (1100px, max) {
			background: url(../img/spares_pages/spares_slide-1.png);
			background-position: 45% 55%;
			background-size: 200% auto;
		}

		@include  mq (650px, max) {
			background: url(../img/spares_pages/spares_slide-1.png);
			background-position: 53% 65%;
			background-size: 220% auto;
		}

		@include  mq (500px, max) {
			background: url(../img/spares_pages/spares_slide-1.png);
			background-position: 53% 91%;
			background-size: 370% auto;
		}
	}

	&:nth-child(4) {
		@include  mq (1100px, max) {
			background: url(../img/spares_pages/spares_slide-1.png);
			background-position: 45% 55%;
			background-size: 200% auto;
		}

		@include  mq (650px, max) {
			background: url(../img/spares_pages/spares_slide-1.png);
			background-position: 53% 65%;
			background-size: 250% auto;
		}

		@include  mq (500px, max) {
			background: url(../img/spares_pages/spares_slide-1.png);
			background-position: 53% 91%;
			background-size: 401% auto;
		}
	}
}

.slider-two .owl-item img {
	height: auto;
	display: block;
	width: 100%;

	@include mq(1920px, max) {
		max-height: 558px;
	}

	@include mq(1200px, max) {
		width: 100%;
		min-height: 335px;
	}


	@include  mq (1100px, max) {
		display: none;
	}
}








