$white: #ffffff;
$black: #000000;
$boulder: #7d7d7d;
$blaze_orange: #ff7000; // f35b00
$mercury: #e5e5e5; // e7e7e7
$trinidad: #e85700;
$wild_sand: #f5f5f5; // f6f6f6
$diesel: #220002;
$porsche: #e79a5d; // фон для кнопки "посмотреть все фото"
$mine_shaft: #212121; // 272727
$nobel: #b4b4b4;
$alabaster: #fbfbfb;
$zest: #e16f1a;
$fire: #a13b01;
$santas_gray: #9aa1b1;
$alto: #e0e0e0;
$orange_roughy: #d55b15;
$dove-gray: #6b6a6a;
$nevada: #66686a;

$bamboo: rgba(221,86,5,0.95);
$gallery: #f0f0f0;
$log_cabin: #0b0e0b;