
@font-face {
  font-family: 'robotoCondensedLight';
  src: url('../fonts/robotoCondensedLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/robotoCondensedLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/robotoCondensedLight.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/robotoCondensedLight.woff') format('woff'), /* Modern Browsers */
  url('../fonts/robotoCondensedLight.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}


@font-face {
  font-family: 'RobotoCondensedRegular';
  src: url('../fonts/robotoCondensedRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/robotoCondensedRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/robotoCondensedRegular.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/robotoCondensedRegular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/robotoCondensedRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}


@font-face {
  font-family: 'robotoCondensedBold';
  src: url('../fonts/robotoCondensedBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/robotoCondensedBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/robotoCondensedBold.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/robotoCondensedBold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/robotoCondensedBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}


@font-face {
  font-family: 'myriadPro-Regular';
  src: url('../fonts/myriadPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/myriadPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/myriadPro-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/myriadPro-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/myriadPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}


@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/lato-regular.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/lato-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/lato-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}


@font-face {
  font-family: 'quicksand-light';
  src: url('../fonts/quicksand-light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/quicksand-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/quicksand-light.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/quicksand-light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/quicksand-light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
