.popup {
  width: auto;
  height: auto;
  position: relative;

  @include  mq (650px, max) {
    width: 359px;
    height: 671px;
    padding: 127px 0 0 0;
    box-sizing: border-box;
    background-image: url("../img/popup-bg.png");
  }


  &:before {
    display: none;
    @include mq (650px, max) {
      width: 64px;
      height: 47px;
      content: " ";
      position: absolute;
      left: 92px;
      top: 55px;
      background: url("../img/popup_logo.png");
      display: block;
    }
  }

  &::after {
    display: none;

    @include  mq (650px, max) {
      content: "Автотрак";
      position: absolute;
      top: 76px;
      left: 165px;
      display: block;
      height: 140px;
      width: 100px;
      font-family: $robotoCondensedRegular;
      font-size: 28px;
      line-height: 30px;
      letter-spacing: -1.5px;
      color: $white;
    }
  }
}

.popup-wrapper {
  width: 333px;
  height: 440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background: $white;
  border-radius: 8px;
}

.popup-logo {
  display: none;
}

.popup-form {
  margin: 20px 0 0 0;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include  mq (1200px, max) {
    margin: 20px 0 0 0;
  }
}

.popup-form__input {

  width: 308px;
  height: 57px;
  margin: 22px 0;
  padding: 0 0 0 16px;
  box-sizing: border-box;
  border: 1px solid $alto;
  border-radius: 8px;
  box-shadow: none;
  list-style: none;
  outline: 0;

  font-family: $lato-regular;
  font-size: 13px;
  line-height: 19px;
  color: $santas_gray;
  text-decoration: none;
}

.popup-form__submit {

  width: 308px;
  height: 57px;
  margin: 13px 0;
  padding: 0 0 1px 17px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange_roughy;
  border-radius: 9px;
  border: none;
  box-shadow: none;
  list-style: none;
  outline: 0;

  font-family: $lato-regular;
  font-size: 28px;
  line-height: 41px;
  letter-spacing: -0.3px;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background-color: $blaze_orange;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }
}

.popup-form__submit-image {
  width: 22px;
  margin: 2px 0 0 17px;
}









.mfp-container {
  padding: 0;
}


.mfp-content {
  width: fit-content !important;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: -webkit-center;
  z-index: 1045;
}


.mfp-close {
  display: none !important;

  @include  mq (650px, max) {
    display: block !important;
  }
}




