.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 50px 50px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas:
          "f b b"
          "f h t"
          "c m t";
}

.header {
  grid-area: h;
  background: green;
}

.menu {
  grid-area: m;
  background: yellow;

  @include  mq (1200px, max) {
    width: 192px;
    height: auto;
  }
}

.content {
  grid-area: c;
  background: yellowgreen;

  @include  mq (1200px, max) {
    width: 192px;
    height: auto;
  }
}

.footer {
  grid-area: f;
  background: wheat;

  @include  mq (1200px, max) {
    width: 192px;
    height: auto;
  }
}

.block {
  grid-area: b;
  background: aqua;

  @include  mq (1200px, max) {
    width: 192px;
    height: auto;
  }
}

.track {
  grid-area: t;
  background: teal;

  @include  mq (1200px, max) {
    width: 192px;
    height: auto;
  }
}